<div class="container header" style="background: red;">
  <div class="inner">
    <h1 style="color: #fff;">The Jar</h1>
        <p style="margin: -5em auto 3em auto; color: #fff;">
          <em>Call it what you will - [douchbag, curse, money].<br/> This is a where you or your group can keep track of all that money you are (or should be) contributing.</em>
        </p>
        <a href="#" class="button" style="margin: 0 auto 6em auto;"> 
          <h2>Sign up for an Account</h2>
        </a>
        <a href="#" class="button grey" style="margin: 0 auto 6em auto;"> 
          <h2>Sign in</h2>
        </a>
        
  </div>
</div>


