<% if user_signed_in? %>

<%= render "partial" %>

<% else %>

<div class="container header" style="background: red;">
  <div class="inner">
    <h1 style="color: #fff;">The Jar</h1>
        <p style="margin: -5em auto 3em auto; color: #fff;">
          <em>Call it what you will - [douchbag, curse, money].<br/> This is a where you or your group can keep track of all that money you are (or should be) contributing.</em>
        </p>
        <div style="margin-bottom: 6em;"> 
          
         <%= link_to new_user_registration_path, :class => "button" do %>
          <h2>Sign up for an Account</h2>
         <% end %>
         
         <%= link_to new_user_session_path, :class => "button grey" do %>
           <h2>Sign in</h2>
          <% end %>
        </div>  
  </div>
</div>

<% end %>
