<p style="text-align: left;">So what can you do on this page? </p>
<ul style="text-align: left;">
  <li>Button to add money to individual or group jar (dropdown cta?)</li>
  <li>Adjust amount of $$ to add "how much do you want to add ?"</li>
  <li>See stats regarding your participation (over time)  
    <ul>
      <li> when you've added, how much each time, notes(?)</li>
      <li>total amounts added</li>
      <li>and in regards to others in your group</li>
      <li>stats based on stocks (what if you invested)</li>
    </ul>
  </li>
  <li>create a group</li>
  <li>invite people to a group</li>
  <li>group notification that someone has added money</li>
  <li>see group and individual totals</li>
  <li>* hook in payment / payout opportunity? paypal ,stripe, etc..?</li>
  <li>ability to remove money from the jar (with groups consent, if in a group)</li>
  <li>include weird stats with "achievements"
    <ul>
      <li>if you took all the pennies you have contribited, you could make a stairway to heaven (jk., but you could reach the moon!!!)</li>
      <li>What's a larger number, the weight of a gorilla or the number of dollors you have saved?!</li>
      <li>i don't know, weird quirky shit</li>
    </ul>
  </li>
  
</ul>